<h1> Index List of Pictures</h1>

<a href="http://localhost:3000/pictures/new">Add A New Picture</a>

<ul>
<% @pictures.each do |pic| %>
	<li>
		<img width="200" src="<%= pic.source %>">
		
		<p>
			<a href="http://localhost:3000/pictures/<%= pic.id %>"><%= pic.caption %></a>
			<a href="http://localhost:3000/pictures/<%= pic.id %>/edit">EDIT</a>
			<%= link_to "Delete", "http://localhost:3000/pictures/#{pic.id}", :method => :delete, :confirm => "Really?" %>
		</p>
	</li>
	</li>
	<%end%>




</ul>